@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="password"] {
    -webkit-appearance: none;
    appearance: none;
  }

  input[type="password"]::-ms-clear,
  input[type="password"]::-ms-reveal,
  input[type="password"]::-webkit-credentials-auto-fill-button,
  input[type="password"]::-webkit-textfield-decoration-container {
    display: none !important;
    pointer-events: none !important;
    width: 0;
    height: 0;
  }
}

body {
  @apply bg-slate-50 text-ink antialiased;
}

::selection {
  @apply bg-brand-100;
}
